body{
	background-size: 100%;
	color: hotpink;
	text-align: center;
    font-size: 30px;

}
table{
	margin: auto;
	height: 300px;
	width: 400px;
	border-collapse: collapse;
	table-layout: fixed;	

}
img{
	width: 100%;
	height: auto;
	border-radius: 15px;		
}
